<div class="row col-sm-12">

    <card>
        <card-content>
            <div>
                <span>
                    <img class="profile-picture" src="{{ userCard.MastodonProfileImageURL }}" />
                </span>
                <span>
                    <button type="button" class="btn btn-primary pull-right">
                        Follow
                    </button>
                </span>
            </div>

            <div>
                <a href="/todo">
                    {{userCard.MastodonDisplayName}}
                </a>
                <br />
                <a href="/todo">
                    @{{userCard.MastodonUserName}}
                </a>
            </div>

            <br />

            <div [innerHTML]="userCard.MastodonShortBio"></div>

        </card-content>
    </card>

</div>