<card [fillWidth]="fillWidth" [headerImgSrc]="userCard.MastodonHeaderImageURL" [size]="size">
    <card-title>
        <div *ngIf="userCard.MastodonProfileImageURL">
            <img class="profile-picture" src="{{ userCard.MastodonProfileImageURL }}" align="middle" />
        </div>
        <div class="user-names">
            <a class="display-name" [routerLink]="['/profile', userCard.MastodonUserId]">{{userCard.MastodonDisplayName}}</a>
            <br />
            <a class="username" [routerLink]="['/profile', userCard.MastodonUserId]">@{{userCard.MastodonUserName}}</a>
        </div>
    </card-title>
    
    <card-content>
        <div *ngIf="userCard.MastodonShortBio && showBio" class="row col-sm-12 user-bio" [innerHTML]="userCard.MastodonShortBio"></div>
    </card-content>

    <card-actions *ngIf="showActions">
        <div class="text-center">
            <div *ngIf="showFollowButton">
                <button *ngIf="isFollowing" class="c-btn c-btn-primary follow-btn" (mouseenter)="followUnfollowText = 'Unfollow';" (mouseleave)="followUnfollowText = 'Following';" (click)="togglefollow()">
                    {{followUnfollowText}}
                </button>
                <button *ngIf="!isFollowing" class="c-btn c-btn-secondary c-btn-secondary-outline not-following-btn" (click)="togglefollow()">
                    Follow
                </button>
            </div>
            

            <div *ngIf="showQuickInfo" class="quick-info">
                <br />
                <div class="row">
                    <div class="col-xs-4">
                        <div class="c-btn c-btn-primary-outline c-btn-xs" [routerLink]="['/profile', userCard.MastodonUserId]" [queryParams]="{tabIndex: '0'}">
                            <p>Statuses</p>
                            <p>{{ userCard.PostCount | number }}</p>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="c-btn c-btn-primary-outline c-btn-xs" [routerLink]="['/profile', userCard.MastodonUserId]" [queryParams]="{tabIndex: '1'}">
                            <p>Follows</p>
                            <p>{{ userCard.FollowingCount | number }}</p>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="c-btn c-btn-primary-outline c-btn-xs" [routerLink]="['/profile', userCard.MastodonUserId]" [queryParams]="{tabIndex: '2'}">
                            <p>Followers</p>
                            <p>{{ userCard.FollowersCount | number}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </card-actions>

</card>
