.profile-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.user-names {
    text-align: center;
    padding-bottom: .25em;
}

    .display-name {
        font-size: 100%;
        font-weight: bold;
        margin: 0;
        color: #ffffff;
        text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    }

.username {
    font-size: 80%;
    font-style: italic;
    font-weight: bold;
    color: #93e4ff;
}

.user-bio {
    /*margin: 0 auto 0 auto;
    width: 300px;*/
    max-height: 55px;
    overflow: hidden;
    /*display: block;*/
    color: #fff;
}

.quick-info {
    color: #fff;
}

.quick-info-border {
    border-color: #2e6da4;
    border-color: rgb(46, 109, 164);
    border-style: solid;
    border-radius: 5px;
}

.follow-btn:hover {
    background-color: #ac002b;
    border-color: #ac002b;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #e0245e;
    color: #fff;
}

.not-following-btn {
    color: black;
}

    .not-following-btn:hover {
        background-color: #337ab7;
        border-color: #337ab7;
        box-shadow: 0 0 0 2px #FFFFFF, 0 0 0 4px #1DA1F2;
        color: #ffffff;
    }

