<div class="well well-sm user-well-width">
    <div class="row">
        <div class="col-sm-6 usercard-content">

            <div>
                <span>
                    <img class="profile-picture" src="{{ userCard.MastodonProfileImageURL }}" />
                </span>

                <span>
                    <button type="button" class="btn btn-primary pull-right">
                        Follow
                    </button>
                </span>
            </div>

            <div>
                <a href="/todo">
                    {{userCard.MastodonDisplayName}}
                </a>
                <br />
                <a href="/todo">
                    @{{userCard. MastodonUserName}}
                </a>
            </div>

            <div>
                <br />
                <p>Bio Text Goes Here</p>
            </div>

        </div>
    </div>
</div>