.notification-format {
    background-color: #00375e;
}

.profile-picture {
    min-width: 45px;
    width: 45px;
    height: 45px;
}

.notification-title {
    font-weight: bold;
    font-size: 120%;
}

.statusesWrapper {
    height: 87vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.time-stamp {
    color: #adb5bd;
}
