<div class="well well-sm notification-format">

    <div class="row">

        <div *ngIf='notification.Type === "follow"' class="col-sm-12">
            <div>
                <img class="profile-picture" src="{{ notification.Account.MastodonProfileImageURL }}" />
                <a [routerLink]="['/profile', notification.Account.MastodonUserId]">
                    <span class="notification-title">{{notification.Account.MastodonDisplayName}}</span>
                </a>
                <span class="notification-title"> followed you</span>
                <div class="time-stamp">{{ notification.CreatedAt | date: 'short' }}</div>
            </div>
        </div>

        <div *ngIf='notification.Type === "favourite"' class="col-sm-12">
            <div>
                <img class="profile-picture" src="{{ notification.Account.MastodonProfileImageURL }}" />
                <a [routerLink]="['/profile', notification.Account.MastodonUserId]">
                    <span class="notification-title">{{notification.Account.MastodonDisplayName}}</span>
                </a>
                <span class="notification-title"> liked your</span>
                <a [routerLink]="['/status', notification.Status.Id]">
                    <span class="notification-title"> status</span>
                </a>
                <div class="time-stamp">{{ notification.CreatedAt | date: 'short' }}</div>
            </div>
        </div>

        <div *ngIf='notification.Type === "mention"' class="col-sm-12">
            <div>
                <img class="profile-picture" src="{{ notification.Account.MastodonProfileImageURL }}" />
                <a [routerLink]="['/profile', notification.Account.MastodonUserId]">
                    <span class="notification-title">{{notification.Account.MastodonDisplayName}}</span>
                </a>
                <a [routerLink]="['/status', notification.Status.Id]">
                    <span class="notification-title">mentioned</span>
                </a>
                <span class="notification-title"> you</span>
                <div class="time-stamp">{{ notification.CreatedAt | date: 'short' }}</div>
            </div>
        </div>

        <div *ngIf='notification.Type === "reblog"' class="col-sm-12">
            <div>
                <img class="profile-picture" src="{{ notification.Account.MastodonProfileImageURL }}" />
                <a [routerLink]="['/profile', notification.Account.MastodonUserId]">
                    <span class="notification-title">{{notification.Account.MastodonDisplayName}}</span>
                </a>
                <span class="notification-title"> reposted your</span>
                <a [routerLink]="['/status', notification.Status.Id]">
                    <span class="notification-title"> status</span>
                </a>
                <div class="time-stamp">{{ notification.CreatedAt | date: 'short' }}</div>
            </div>
        </div>


    </div>
</div>