/*.statusesWrapper {
    height: 87vh;
    overflow-y: scroll;
    overflow-x: hidden;
}*/

.statusesWrapper {
    height: -webkit-fill-available;
    /*overflow-y: scroll;*/
    overflow-x: hidden;
}

.infiniteStaticButtons {
    position: absolute;
    /*top: 0.5%;*/
    right: 0;
    z-index: 1;
}

.static-loading-more {
    position: absolute;
    bottom: 0;
    z-index: 1;
}
