<section class="card" [ngClass]="{'card-small': size === 'small' }">
    <header>
        <div class="card-header" *ngIf="showTitle">
            <div class="card-heading-middle">
                <h1 class="card-title" *ngIf="showTitle">
                    <ng-content select="card-title"></ng-content>
                </h1>
            </div>
        </div>
    </header>

    <div class="card-content">
        <ng-content select="card-content"></ng-content>
    </div>

    <div class="card-actions" [hidden]="actionsEl.children.length === 0" #actionsEl>
        <ng-content select="card-actions"></ng-content>
    </div>
</section>