<ng-template #loading><h2 class="text-center">Loading...</h2></ng-template>

<div *ngIf="loginErrorMessage" class="text-center">
    <h3>{{loginErrorMessage}}</h3>
</div>
<div *ngIf="oAuthUrl; else loading;" class="container">
    <div class="login">
        <h2>Login to Herd</h2>
        <hr />

        <div class="login-inner">
            <a id="btnAuth" class="btn btn-block btn-lg btn-success submit" target="_blank" href="{{oAuthUrl}}" (click)="setShowOauthTokenForm(true)">
                Authenticate
            </a>
            <hr />
            <div *ngIf="showSubmitOAuthTokenForm">
                <ol>
                    <li>In the new tab, login to the instance with your email and password.</li>
                    <li>Authorize this web application to use your Herd data.</li>
                    <li>Copy the special access token and paste it back on this page.</li>
                </ol>
                <form #oauth="ngForm" (ngSubmit)="submitOauthToken(oauth)" novalidate>
                    <input type="text" name="oauth_token" class="form-control" ngModel required placeholder="access token">
                    <input class="btn btn-block btn-lg btn-success submit" type="submit" value="Submit Access Token">
                </form>
            </div>
        </div>
    </div>
</div>
