.status-format {
    background-color: #00375e;
}

    .status-format:hover {
        background-color: #002B49;
        box-shadow: 2px 2px 2px #4dadf7;
    }

/*p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 110%;
    color: #000000;
}*/

.profile-picture {
    width: 45px; 
    height: 45px;
}

.author-name {
    font-weight: bold;
    font-size: 120%;
}

.username {
    font-size: 100%;
    font-style: italic;
}

.time-stamp {
    color: #d1dde6;
}

.status-blurred {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    -o-filter: blur(5px);
    filter: blur(5px);
}

.status-body {
    margin: 0.25em 0.25em 0em 0.25em;
    color: #fff;
}

/* ------------- Buttons -------------*/
.status-btn {
    background: inherit;
    outline: none;
}

.comments-btn:not([disabled]):hover {
    color: blue;
}

.retweet-btn:not([disabled]):hover {
    color: limegreen;
}

.like-btn:not([disabled]):hover {
    color: red;
}

.message-btn {
    color: #657786;
}

    .message-btn:not([disabled]):hover {
        color: black;
    }

.heart-color {
    color: red;
}

.retweet-color {
    color: limegreen;
}