<a (click)="notifyTimelineStatusClicked($event)">
    <div class="well well-sm mouseOver post-format">
        <div class="row">
            <div class="col-sm-6 status-content">
                <div class="status-header">
                    <img class="profile-picture" src="{{ status.Author.MastodonProfileImageURL }}" />
                    <a href="/todo">
                        <span class="author-name">{{ status.Author.MastodonDisplayName }}</span>
                        <span class="username">@{{ status.Author.MastodonUserName }}</span>
                    </a>
                    <span class="time-stamp"> | {{ status.CreatedOnUTC | date: 'short' }}</span>
                </div>
                <div class="status-body">
                    <p *ngIf="status.IsSensitive">{{ status.SpoilerText }}</p>
                    <div [ngClass]="{'status-blurred': showBlur }" (click)="turnOffBlur($event)">
                        <p  [innerHTML]="status.Content"></p>
                    </div>
                </div>   
                <div class="status-action-items text-center">
                    <span class="btn comments-btn" title="Reply to Id={{ status.Id }}" (click)="notifyTimelineCommentsClicked($event)">
                        <fa name="comments"></fa>
                    </span>
                    <span class="btn retweet-btn" title="Retweet" (click)="retweet()">
                        <fa name="retweet" [ngClass]="{'retweet-color': status.IsReblogged }"></fa><span>{{ status.ReblogCount }}</span>
                    </span>
                    <span class="btn like-btn" title="Like" (click)="like()">
                        <fa *ngIf="!status.IsFavourited" name="heart-o"></fa>
                        <fa *ngIf="status.IsFavourited" name="heart" class="heart-color"></fa>
                        <span>{{ status.FavouritesCount }}</span>
                    </span>
                    <span class="btn message-btn" title="Direct Message" (click)="directMessage()">
                        <fa name="envelope-o"></fa>
                    </span>
                </div>
            </div>
        </div>
    </div>
</a>