<div class="well well-sm status-format">

    <div class="row" (click)="notifyTimelineStatusClicked($event)">
        <div class="col-xs-3 col-sm-2 col-lg-1">
            <div class="text-center">
                <img class="profile-picture" src="{{ status.Author.MastodonProfileImageURL }}" />
            </div>
        </div><!-- ./col-sm-1 -->

        <div class="col-xs-8 col-sm-9 col-lg-10">
            <!-- Context Row -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="c-body-text">
                        <a [routerLink]="['/profile', status.Author.MastodonUserId]">
                            <span class="author-name">{{ status.Author.MastodonDisplayName }}</span>
                            <span class="username">@{{ status.Author.MastodonUserName }}</span>
                        </a>
                        <span class="time-stamp c-body-text-sm">{{ status.CreatedOnUTC | date: 'short' }}</span>
                    </div>
                </div>
            </div>

            <!-- Content Row -->
            <div class="row status-body c-body-text-md">
                <div class="col-sm-12">
                    <p *ngIf="status.IsSensitive">{{ status.SpoilerText }}</p>
                    <div [ngClass]="{'status-blurred': showBlur }" (click)="turnOffBlur($event)">
                        <span [innerHTML]="status.Content"></span>
                    </div>
                    <modal-gallery *ngIf="imagesArray.length > 0" (click)="$event.stopPropagation()" [modalImages]="imagesArray"
                                   [enableCloseOutside]="true"
                                   [downloadable]="true"
                                   [buttonsConfig]="{download: true}">
                    </modal-gallery>
                </div>
            </div><!-- ./Content Row -->

            <!-- Buttons Row -->
            <div class="row">
                <div class="c-btn-group-sm c-text-center">
                    <button class="btn btn-sm btn-secondary comments-btn status-btn" type="button" title="Reply" (click)="notifyTimelineCommentsClicked($event)">
                        <fa name="comments"></fa>
                        <!--<span>{{ status.ReblogCount }}</span>-->
                    </button>
                    <button class="btn btn-sm btn-secondary retweet-btn status-btn" type="button" title="Retweet" (click)="toggleRepost($event)">
                        <fa name="retweet" [ngClass]="{'retweet-color': status.IsReblogged }"></fa>
                        <span>{{ status.ReblogCount }}</span>
                    </button>
                    <button class="btn btn-sm btn-secondary like-btn status-btn" type="button" title="Like" (click)="toggleLike($event)">
                        <fa *ngIf="!status.IsFavourited" name="heart-o"></fa>
                        <fa *ngIf="status.IsFavourited" name="heart" class="heart-color"></fa>
                        <span>{{ status.FavouritesCount }}</span>
                    </button>
                    <div class="btn-group" dropdown>
                        <a dropdownToggle (click)="$event.stopPropagation()"><fa name="caret-down" size="2"></fa></a>
                        
                        <ul *dropdownMenu class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item" (click)="mention($event)"> Mention @{{ status.Author.MastodonUserName }}</a></li>
                            <li *ngIf="isCurrentUser()" role="menuitem"><a class="dropdown-item" (click)="openDeleteModal($event, confirmDeleteModal)"> Delete status</a></li>
                        </ul>
                    </div>
                </div>
            </div><!-- ./Buttons Row -->

        </div><!-- ./col-sm-11 -->
    </div><!-- ./Row -->
</div>

<ng-template #confirmDeleteModal>
    <div class="modal-body text-center" style="color: black;">
        <p>Are you sure you want to delete this status?</p>
        <button type="button" class="c-btn c-btn-primary" (click)="answerDeleteConfirmation(true)">Yes</button>
        <button type="button" class="c-btn c-btn-primary" (click)="answerDeleteConfirmation(false)">No</button>
    </div>
</ng-template>