<div class="row">
    <img class="header-img" style="width: 60px; height: 60px;" src="{{ account.MastodonHeaderImageURL }}" />
</div>
<div class="row">
    <!-- Left Column -->
    <div class="col-sm-3">
        <div *ngIf="account" class="row">
            <img class="header-img" style="width: 60px; height: 60px;" src="{{ account.MastodonProfileImageURL }}" />
            <div class="col-lg-12">
                <a href="{{ account.MastodonHeaderImageURL }}">Test</a>
                MastodonUserId = {{ account.MastodonUserId }}
            </div>
        </div>
    </div>
    <!-- Middle Column -->
    <div class="col-sm-6">
        <div>
            <tabset>
                <tab heading="Static title">
                    Static content
                </tab>
                <tab heading="Static Title 1">
                    Static content 1
                </tab>
                <tab heading="Static Title 2">
                    Static content 2
                </tab>
            </tabset>
        </div>
    </div>
    <!-- Right Column -->
    <div class="col-sm-3">

    </div>
</div>