<div *ngIf="account" class="row">
    <div class="header-image-box">
        <img class="header-pic" src="{{ account.MastodonHeaderImageURL }}" />
    </div>

    
    <div class="row profile-content">
        <!-- Left Column -->
        <div class="col-sm-3">
            <div class="col-lg-12">
                <img class="profile-pic" src="{{ account.MastodonProfileImageURL }}" />
                <h4>
                    <strong>{{ account.MastodonDisplayName }}</strong>
                    <br />
                    @{{ account.MastodonUserName }}
                </h4>
            </div>
        </div>
        
        <!-- Middle Column -->
        <div class="col-sm-6">
            <div class="info-bar">
                <br />
                <p [innerHTML]="account.MastodonShortBio"></p>
                <br />
                <div>
                    <tabset>
                        <tab heading="Posts ({{ userPosts.length }})">
                            <div *ngFor="let status of userPosts">
                                <status [status]="status"></status>
                            </div>
                        </tab>
                        <tab heading="Following ({{ account.FollowingCount }})">
                            <div class="row">
                                <div *ngFor="let userCard of following" class="text-center">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                        <usercard [userCard]="userCard"></usercard>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab heading="Followers ({{ account.FollowersCount }})">
                            <div class="row">
                                <div *ngFor="let userCard of followers" class="text-center">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                        <usercard [userCard]="userCard"></usercard>
                                    </div>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
        
        <!-- Right Column -->
        <div class="col-sm-3">

        </div>
    </div>
</div>



<!-- Modals -->

<bs-modal #specificStatusModal>
    <bs-modal-header [showDismiss]="true"></bs-modal-header>
    <bs-modal-body>
        <div *ngIf="specificStatus">
            <div class="ancestors" *ngFor="let anscestorStatus of specificStatus.Ancestors">
                <status [status]="anscestorStatus"></status>
            </div>
            <div class="viewingStatus">
                <status [status]="specificStatus"></status>
            </div>
            <status-form actionName="Reply" isReply="true" [inReplyToId]="specificStatus.IdString"></status-form>
            <div class="replies" *ngFor="let descendantStatus of specificStatus.Descendants">
                <status [status]="descendantStatus"></status>
            </div>
        </div>
    </bs-modal-body>
    <bs-modal-footer [showDefaultButtons]="false"></bs-modal-footer>
</bs-modal>

<bs-modal #replyStatusModal>
    <bs-modal-header [showDismiss]="true"></bs-modal-header>
    <bs-modal-body>
        <div *ngIf="replyStatus">
            <div class="viewingStatus">
                <status [status]="replyStatus"></status>
            </div>
            <status-form actionName="Reply" isReply="true" [inReplyToId]="replyStatus.IdString"></status-form>
        </div>
    </bs-modal-body>
    <bs-modal-footer [showDefaultButtons]="false"></bs-modal-footer>
</bs-modal>