<div class="row">
    <!-- Banner Image -->
    <div *ngIf="account" class="header-image-box">
        <img class="header-pic" src="{{ account.MastodonHeaderImageURL }}" />
    </div>

    <div class="row profile-content">
        <!-- Left Column -->
        <div class="col-sm-3">
            <div *ngIf="account" class="col-lg-12">
                <img class="profile-pic" src="{{ account.MastodonProfileImageURL }}" />
                <br />
                <div class="panel">
                    <div class="panel-body">
                        <p>
                            <strong>{{ account.MastodonDisplayName }}</strong>
                            <br />
                            @{{ account.MastodonUserName }}
                        </p>
                        
                        <p [innerHTML]="account.MastodonShortBio"></p>
                    </div>
                </div>
            </div>
        </div>

        
        <!-- Middle Column -->
        <div class="col-sm-6">
            <div class="info-bar">
                <div class="panel">
                    <div class="panel-body">
                        <tabset #staticTabs>
                            <tab heading="Posts ({{ account?.PostCount }})">
                                <ng-container *ngIf="account">
                                    <div *ngFor="let status of userPosts">
                                        <status [status]="status"></status>
                                    </div>
                                </ng-container>
                            </tab>
                            <tab heading="Following ({{ account?.FollowingCount }})">
                                <div class="row">
                                    <ng-container *ngIf="account">
                                        <div *ngFor="let userCard of following" class="text-center">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                                <usercard [userCard]="userCard" showBio="true" showActions="true" showFollowButton="true"></usercard>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div> 
                            </tab>
                            <tab heading="Followers ({{ account?.FollowersCount }})">
                                <ng-container *ngIf="account">
                                    <div class="row">
                                        <div *ngFor="let userCard of followers" class="text-center">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                                <usercard [userCard]="userCard" showBio="true" showActions="true" showFollowButton="true"></usercard>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </tab>
                        </tabset>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Right Column -->
        <div class="col-sm-3">
            <div class="panel pushTop">
                <div class="panel-heading">
                    <h3>Future Box</h3>
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modals -->

<bs-modal #specificStatusModal>
    <bs-modal-header [showDismiss]="true"></bs-modal-header>
    <bs-modal-body>
        <div *ngIf="specificStatus">
            <div class="ancestors" *ngFor="let anscestorStatus of specificStatus.Ancestors">
                <status [status]="anscestorStatus"></status>
            </div>
            <div class="viewingStatus">
                <status [status]="specificStatus"></status>
            </div>
            <status-form actionName="Reply" isReply="true" [inReplyToId]="specificStatus.IdString"></status-form>
            <div class="replies" *ngFor="let descendantStatus of specificStatus.Descendants">
                <status [status]="descendantStatus"></status>
            </div>
        </div>
    </bs-modal-body>
    <bs-modal-footer [showDefaultButtons]="false"></bs-modal-footer>
</bs-modal>

<bs-modal #replyStatusModal>
    <bs-modal-header [showDismiss]="true"></bs-modal-header>
    <bs-modal-body>
        <div *ngIf="replyStatus">
            <div class="viewingStatus">
                <status [status]="replyStatus"></status>
            </div>
            <status-form actionName="Reply" isReply="true" [inReplyToId]="replyStatus.IdString"></status-form>
        </div>
    </bs-modal-body>
    <bs-modal-footer [showDefaultButtons]="false"></bs-modal-footer>
</bs-modal>