.header-image-box {
    width: 100%;
    max-height: 280px;
    top: 0px;
    overflow: hidden;
    border-radius: 5px;
    border: 5px solid white;
    display: flex;
    align-items: center;
}

    .header-pic {
        width: 100%;
        /*height: auto;*/
        object-fit: cover;
    }

    .profile-image-box {
        width: 120px;
        height: 120px;
        z-index: 1;
        position: absolute;
        left: 2.5%;
    }

        .profile-pic {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            border: 5px solid white;
        }



.profile-content {
    padding-top: 1em;
    position: relative;
}


.tabWrapper {
    height: 40vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.follow-btn:hover {
    background-color: #ac002b;
    border-color: #ac002b;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #e0245e;
    color: #fff;
}

.not-following-btn {
    color: black;
}

    .not-following-btn:hover {
        background-color: #337ab7;
        border-color: #337ab7;
        box-shadow: 0 0 0 2px #FFFFFF, 0 0 0 4px #1DA1F2;
        color: #ffffff;
    }


@media (min-width: 1235px) {
    .header-pic {
        height: 335px;
    }
}