.header-image-box {
    width: 100%;
    height: 280px;
    top: 0px;
    overflow: hidden;
    position: absolute;
    padding-bottom: 200px;
    border-radius: 5px;
    border: 5px solid white;
}

.header-pic {
    min-width: 100%;
    object-fit: cover;
}

.profile-image-box {
    width: 120px;
    height: 120px;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid white;
}

.profile-content {
    top: 220px;
    position: relative;
    z-index: 1;
}

.follow-btn:hover {
    background-color: #ac002b;
    border-color: #ac002b;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #e0245e;
    color: #fff;
}

.not-following-btn {
    color: black;
}

    .not-following-btn:hover {
        background-color: #337ab7;
        border-color: #337ab7;
        box-shadow: 0 0 0 2px #FFFFFF, 0 0 0 4px #1DA1F2;
        color: #ffffff;
    }


.pushTop {
    top: 70px;
    position: relative;
    font-size: 100%;
    z-index: 1;
}

.info-bar {
    top: 70px;
    position: relative;
    font-size: 100%;
    z-index: 1;
}


@media (min-width: 1235px) {
    .header-pic {
        height: 335px;
    }
}