.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

textarea {
    resize: none;
    background-color: #002b49;
    /**overflow-x: hidden;*/
}

.image-row {
    padding-top: 2em;
}

.image-wrapper {
    position: relative;
    display: inline-block;
}

.image {
    height: 60px;
    width: 60px;
}

.spoilerButton {
    background-color: transparent;
    color: #50d4ff;
    border: 1px solid #50d4ff;
}

    .spoilerButton:hover {
        background-color: #f59f00;
        color: #404040;
    }

.fileButton {
    background-color: transparent;
    color: #50d4ff;
    border: 1px solid #50d4ff;
}

    .fileButton:hover {
        background-color: #002B49;
        color: #50d4ff;
    }

.charLimitOffset {
    padding-right: .5em;
}

.charLimitCenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.close:hover {
    color: red;
}