.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

textarea {
    resize: none;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.image-row {
    padding-top: 2em;
}

.image-wrapper {
    position: relative;
    display: inline-block;
}

.image {
    height: 60px;
    width: 60px;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.close:hover {
    color: red;
}