<div class="panel">
    <div class="panel-body">
        <form name="form" (ngSubmit)="f.form.valid && submitStatus()" #f="ngForm" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !status.valid }">
                <label for="status">Status | <small>{{ model.status.length }}</small></label>
                <textarea class="form-control" name="status" [(ngModel)]="model.status" #status="ngModel" required placeholder="What's happening?" maxlength="600" rows="3"></textarea>
                <div *ngIf="f.submitted && !status.valid" class="help-block">Status is required</div>
            </div>
            <div class="form-group">
                <div class="pull-left">
                    <button class="btn"><span class='glyphicon glyphicon-camera'></span></button>
                    <button class="btn"><span class='glyphicon glyphicon-warning-sign'></span></button>
                    <button class="btn"><span class='glyphicon glyphicon-eye-open'></span></button>
                    <button class="btn"><span class='glyphicon glyphicon-user'></span></button>
                </div>
                <div class="pull-right">
                    <fa *ngIf="loading" name="spinner" spin=true></fa>
                    <button [disabled]="loading || !f.valid" class="btn btn-primary">
                        <span class='glyphicon glyphicon-pencil'></span>
                        Create Status
                    </button>
                </div>
            </div>
        </form>
    </div><!-- /.panel-body -->
</div><!-- /.panel -->