.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

textarea {
    resize: none;
    /**overflow-x: hidden;*/
}

.image-row {
    padding-top: 2em;
}

.image-wrapper {
    position: relative;
    display: inline-block;
}

.image {
    height: 60px;
    width: 60px;
}

.spoilerButton:hover {
    background-color: #f59f00;
}

.charLimitOffset {
    padding-right: .5em;
}

.charLimitCenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.close:hover {
    color: red;
}