body {
    background-color: #ddd;
}

.login {
    margin-top: 25px !important;
    padding: 5px;
    width: auto;
    min-width: 320px;
    max-width: 400px;
    background-color: #f3f3f3;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid #c5c5c5;
    text-align: center;
}

.login-inner {
    margin: 0 auto;
    max-width: 380px;
    width: auto;
}

.login > h2 {
    font-size: 20px;
    margin-left: 5px;
    font-weight: 600;
}

.email {
    margin-bottom: 5px;
}

.password {
    margin-bottom: 5px;
}

.submit {
    margin-top: 5px;
}

.register {
    margin-top: 5px;
}