<div class="container">
    <div class="login">
        <h2>Login to Ipreo-Mastodon</h2>
        <hr>

        <form class="login-inner">
            <input type="email" class="form-control email" id="email-input" placeholder="@<username>@<ipreo instance>">
            <input type="password" class="form-control password" id="password-input" placeholder="Password">
            <input class="btn btn-block btn-lg btn-success submit" type="submit" value="Login">
        </form>
        
        <a href="https://joinmastodon.org/" class="btn btn-block btn-lg btn-primary register">Register</a>
    </div>
</div>