<div class="container">
    <!-- Left Column -->
    <div class="row">
        <div class="col-sm-4">
            <div class="panel">
                <div class="panel-heading">
                    <h3>Future Settings Box</h3>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
        <!-- Middle Column -->
        <div class="col-sm-8">
            <div class="panel">
                <div class="panel-heading">
                    <h3>Future Options Box</h3>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>
</div>