<div class="row">
    <!-- Left Column -->
    <div class="col-sm-3">
        <div class="panel">
            <div class="panel-heading">
                <h3>Future Profile Box</h3>
            </div>
            <div class="panel-body">

            </div>
        </div>
        <div class="panel">
            <div class="panel-heading">
                <h3>Popular Hashtags</h3>
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>
    <!-- Middle Column -->
    <div class="col-sm-6">
        <status-form actionName="Create Status"></status-form>
        <div class="text-center">
            <button [disabled]="loading" class="btn btn-default" (click)="getMostRecentHomeFeed()">
                <fa *ngIf="loading" name="spinner" spin=true></fa>
                <fa *ngIf="!loading" name="refresh"></fa>
            </button>
        </div>
        <br />

        <div *ngFor="let status of homeFeed">
            <status [status]="status"></status>
            <status-modal [status]="status" [modalId]="'statusModal-' + status.Id"></status-modal>
        </div>
    </div>
    <!-- Right Column -->
    <div class="col-sm-3">
        <div class="panel">
            <div class="panel-heading">
                <h3>Future Integrations Box</h3>
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>
</div>

<bs-modal #specificStatusModal>
    <bs-modal-header [showDismiss]="true"></bs-modal-header>
    <bs-modal-body>
        <div *ngIf="specificStatus">
            <div class="ancestors" *ngFor="let anscestorStatus of specificStatus.Ancestors">
                <status [status]="anscestorStatus"></status>
            </div>
            <div class="viewingStatus">
                <status [status]="specificStatus"></status>
            </div>
            <status-form actionName="Reply" isReply="true" [inReplyToId]="specificStatus.Id"></status-form>
            <div class="replies" *ngFor="let descendantStatus of specificStatus.Descendants">
                <status [status]="descendantStatus"></status>
            </div>
        </div>
    </bs-modal-body>
    <bs-modal-footer [showDefaultButtons]="true"></bs-modal-footer>
</bs-modal>


<bs-modal #replyStatusModal>
    <bs-modal-header [showDismiss]="true"></bs-modal-header>
    <bs-modal-body>
        <div *ngIf="replyStatus">
            <div class="viewingStatus">
                <status [status]="replyStatus"></status>
            </div>
            <status-form actionName="Reply" isReply="true" [inReplyToId]="replyStatus.Id"></status-form>
        </div>
</bs-modal-body>
    <bs-modal-footer [showDefaultButtons]="true"></bs-modal-footer>
</bs-modal>



<!--<status-modal *ngIf="renderSpecificModal" [status]="specificStatus" autoOpen="true" modalId="specificStatusModal"></status-modal>
<status-reply-modal *ngIf="renderReplyModal" [status]="replyStatus" autoOpen="true" modalId="replyStatusModal"></status-reply-modal>-->