/*.statusFormWrapper {
    height: 26vh;
}*/

.statusesWrapper {
    height: 87vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.infiniteStaticButtons {
    position: absolute;
    top: 0.5%;
    right: 5%;
}

.two-column {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -moz-column-fill: auto;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    -webkit-column-fill: auto;
    column-count: 2;
    column-gap: 20px;
    column-fill: auto;
    list-style-position: inside;
}