.statusesWrapper {
    height: 550px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.two-column {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -moz-column-fill: auto;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    -webkit-column-fill: auto;
    column-count: 2;
    column-gap: 20px;
    column-fill: auto;
    list-style-position: inside;
}