navbar-brand {
    overflow: visible;
}

/* Highlighting rules for nav menu items */
li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
    background-color: #4189C7;
    color: white;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0px;
        border-width: 0px;
        padding-right: 1em;
        background-color: #001d33;
    }
    .navbar-header {
        float: left;
    }
    .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
    }
    .navbar ul {

    }
    .navbar li {
        font-size: 12px;
        margin: 2px;
    }
    .navbar li a {
        padding: 10px 16px;
        border-radius: 4px;
    }
    .navbar a {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.notification-dropdown-format {
    background-color: #00375e;
    width: 400px;
}

.new-notification {
    color: #f7931d;
}