<!-- Create Status modal -->
<status-form-modal modalId="navmenu-StatusFormModal"></status-form-modal>

<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <button *ngIf="!isAuthenticated()" style="overflow: visible;" class='navbar-brand' [routerLink]="['/login']">Herd</button>
            <button *ngIf="isAuthenticated()" style="overflow: visible;" class='navbar-brand' [routerLink]="['/home']">Herd</button>
        </div>

        <!-- Fully Logged in with instance picked menu --> 
        <div *ngIf="isAuthenticated() && isConnectedToMastodon()" class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li [routerLinkActive]="['link-active']"><a [routerLink]="['/localfeed']"><fa name="globe"></fa> Public Feed</a></li>
                <li [routerLinkActive]="['link-active']"><a [routerLink]="['/notifications']"><fa name="bell"></fa> Notifications</a></li>
            </ul>

            <form class="navbar-form navbar-left" (ngSubmit)="f.form.valid && search(f)" #f="ngForm" novalidate role="search">
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !searchItem.valid }">
                    <input type="text" class="form-control" name="searchItem" [(ngModel)]="model.searchItem" #searchItem="ngModel" required placeholder="Search">
                    <button [disabled]="!f.valid" class="btn btn-default" type="submit"><fa name="search"></fa></button>
                </div>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <li><a class="btn" data-toggle="modal" data-target="#navmenu-StatusFormModal"> <fa name="pencil"></fa> Create Status</a></li>
                <!-- Drop Down for notifications-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <fa name="bell"></fa> Notifications <span class="caret"></span></a>
                    
                    <ul class="dropdown-menu">
                        <li> <notification-list></notification-list> </li>
                    </ul>

                </li>

                <!-- Drop Down -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Options <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li [routerLinkActive]="['link-active']"><a [routerLink]="['/profile', userID]"><fa name="user"></fa> Profile</a></li>
                        <li [routerLinkActive]="['link-active']"><a [routerLink]="['/instance-picker']"><fa name="bell"></fa> Instance Picker</a></li>
                        <li [routerLinkActive]="['link-active']"><a [routerLink]="['/settings']"><fa name="gear"></fa> Settings </a></li>
                        <li role="separator" class="divider"></li>
                        <li><a [routerLink]="['/login']" (click)="logout()"><fa name="sign-out"></fa>Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->

        <!-- <ul class="dropdown-menu">
                        <li> <a class="dropdown-item">NOTE</a> </li>
             </ul> -->

        <!-- Logged in but didn't pick instance --> 
        <div *ngIf="isAuthenticated() && !isConnectedToMastodon()" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li [routerLinkActive]="['link-active']"><a [routerLink]="['/instance-picker']"><fa name="th-list"></fa> Instance Picker</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- Drop Down -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Options <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li role="separator" class="divider"></li>
                        <li [routerLinkActive]="['link-active']"><a [routerLink]="['/login']"><fa name="sign-out"></fa> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
