<h4 class="c-header-md text-center">{{ searchingText }} "{{ search }}" ...</h4>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="panel">
            <div class="panel-body">
                <tabset #staticTabs>
                    <tab heading="Statuses">
                        <ng-container>
                            <div class="panel">
                                <div class="panel-body tabContentHeight">
                                    <status-timeline #statusTimeline [listType]="listTypeEnum.SEARCH" autoCheckForStatuses="true" [search]="search"></status-timeline>
                                </div>
                            </div>
                        </ng-container>
                    </tab>
                    <tab heading="Users">
                        <ng-container>
                            <div class="panel">
                                <div class="panel-body tabContentHeight text-center">
                                    <account-list #userList [listType]="listTypeEnum.SEARCH" [search]="search" (finishedSearching)="updateSearchingText($event)"></account-list>
                                </div>
                            </div>
                        </ng-container>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>
