<h3 class="c-header-md text-center">{{ searchingText }} "{{ search }}" ...</h3>

<div class="row col-sm-offset-1 col-sm-10">  
    <div class="panel">
        <div class="panel-body">
            <tabset #staticTabs>
                <tab heading="Statuses">
                    <div class="row">
                        <ng-container>
                            <div class="panel">
                                <div class="panel-body tabContentHeight">
                                    <status-timeline #statusTimeline [listType]="listTypeEnum.SEARCH" autoCheckForStatuses="true" [search]="search"></status-timeline>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </tab>
                <tab heading="Users">
                    <div class="row">
                        <ng-container>
                            <div class="panel">
                                <div class="panel-body tabContentHeight text-center">
                                    <account-list #userList [listType]="listTypeEnum.SEARCH" [search]="search" (finishedSearching)="updateSearchingText($event)"></account-list>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>
