<button [hidden]="true" #openButton [attr.id]="'openButton-' + modalId" data-toggle="modal" [attr.data-target]="'#' + modalId"></button>
<div class="modal fade" [attr.id]="modalId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button [attr.id]="'closeButton-' + modalId" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="viewingStatus">
                    <status [status]="status"></status>
                    <status-form actionName="Reply" isReply="true" [inReplyToId]="status.Id"></status-form>
                </div>
            </div>
        </div>
    </div>
</div>