<div class="row">
    <div class="panel">
        <div class="panel-body">
            <notification-list></notification-list>
        </div>
    </div>
</div>

<!--
    


div class="row">
    <div class="panel">
        <div class="panel-body">
            <div>
                <div *ngFor="let notification of notificationList.Items">
                    <notification [notification]="notification"></notification>
                </div>
            </div>
            <div *ngIf="notificationList.Items.length === 0" class="text-center">
                <h3>No results</h3>
            </div>
        </div>
    </div>
</div>



    <div class="row col-sm-offset-2 col-sm-8">
        <notification [notification]="testNotification"></notification>
    </div>
-->
